 <%- include("../include/head.ejs") %>

    <%- include("../include/nav.ejs") %>

        <main class="p-5 flex flex-col gap-5">

            <h2 class="text-4xl font-extrabold dark:text-white">About us and Aim</h2>
            
            <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
                Dowry free marriages are marriages in which the bride's family does not provide a dowry, or payment, to the groom or his family. Instead, the focus is on creating a partnership based on love, respect, and mutual support.
            </p>
            <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
               Supporting dowry-free marriages means advocating for an end to the harmful tradition of dowry, which can perpetuate gender inequality and put a financial burden on families.
            </p>
            <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
               The aim of promoting dowry-free marriages is to create a more equitable and just society, where all individuals are valued equally regardless of their gender or financial status.
            </p>
            <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
               This requires a cultural shift, where individuals and communities reject the idea that a bride's family must provide a dowry in order to marry.
            </p>
             <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
               Through education, awareness-raising, and advocacy, we can work towards a future where dowry-free marriages are the norm, not the exception, and where all individuals are able to enter into marriage on equal footing.
            </p>

        </main>

        <%- include("../include/footer.ejs") %>