<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

  <%- include("../include/nav.ejs") %>

    <main class="p-5 flex flex-col gap-5">


      <h2 class="text-4xl font-extrabold dark:text-white">Payments tool for companies</h2>
      <p class="my-4 text-lg text-gray-500">Start developing with an open-source library of over 450+ UI components,
        sections, and pages built with the utility classes from Tailwind CSS and designed in Figma.</p>
      <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">Deliver great service experiences fast -
        without the complexity of traditional ITSM solutions. Accelerate critical development work, eliminate toil, and
        deploy changes with ease.</p>
      <a href="#" class="inline-flex items-center text-lg text-blue-600 dark:text-blue-500 hover:underline">
        Read more
        <svg class="w-6 h-6 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
      </a>


    </main>

    <%- include("../include/footer.ejs") %>