  <%- include("../include/head.ejs") %>

  <%- include("../include/nav.ejs") %>

    <main class="p-5 flex flex-col gap-5">


       <h2 class="text-4xl font-extrabold dark:text-white">Contact us</h2>
        <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
            For inquiries, email us at <a class="text-blue-300">dowryfreemove@gmail.com</a>.
        </p>

    </main>

    <%- include("../include/footer.ejs") %>