<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-5">
    <% if(data.length) { %>

        <% data.map(item => { %>
            <%- include("./card.ejs", { item }) %>
        <% }) %>
        
    <% } else { %>
        <%- include("./notfound.ejs") %>
    <% } %>
</section>